/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#main {
  border:1px solid #BBB;
}

div#pane-container {
  /*background-color: #1D5991;
  color: #EEE; */
  height: 500px;
  padding:10px;
}
div#chart {
  padding:10px;
  background-color: #EEE;
}

ul#programme-list {
  list-style: none;
  margin-left: 2px;
  margin-top: 15px;
}

ul#programme-list li {
  border-top: 1px solid #DDD;
  padding-top: 5px;
  margin-bottom: 5px;
}
ul#programme-list li:last-child {
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
}

ul#programme-list div.programme-name {
  width: 150px;
  float:left;

  margin-top:6px;

  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

ul#programme-list a.delete_programme {
  height:13px;
  float:right;
}

canvas {
}
